<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.icia.mjcinema.domain.Member" alias="Member"/>
		<typeAlias type="com.icia.mjcinema.dto.pageDTO" alias="pagedto"/>
		<typeAlias type="com.icia.mjcinema.dto.movieDTO" alias="moviedto"/>
	</typeAliases>
</configuration>
