<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 
 <mapper namespace="ms"> 
	<insert id="memberjoin" parameterType="Member">
		INSERT INTO MJMEMBER (MID , MPW , MNAME , MBIRTH , MEMAIL , MADDR , MFILENAME)
		VALUES (#{mid} , #{mpw} , #{mname} , #{mbirth} , #{memail} , #{maddr} , #{mfilename})
	</insert>
	
	<select id="memberlogin" parameterType="String" resultType="Member">
		SELECT MID , MPW , MNAME , MBIRTH , MEMAIL , MADDR , MFILENAME FROM MJMEMBER WHERE MID=#{mid}
	</select>
	
	<select id="idcheck" parameterType="String" resultType="Member">
		SELECT MID FROM MJMEMBER WHERE MID=#{mid}
	</select>
	
	<select id="memberview" parameterType="String" resultType="Member">
		SELECT * FROM MJMEMBER WHERE MID=#{mid}
	</select>
	
	<select id="memberlist" resultType="Member">
		SELECT * FROM MJMEMBER
	</select>
	
 </mapper>
 