<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.icia.mjcinema.mapper.UserMapper">
	<resultMap id="UserResultMap" type="User">
		<id property="id" column="id"/>
		<result property="username" column="username"/>
		<result property="password" column="password"/>
		<result property="email" column="email"/>
		<result property="name" column="name"/>
		<result property="birth" column="birth"/>
		<result property="address" column="address"/>
		<result property="imageName" column="image_name"/>
		<collection property="authorities" ofType="Authority">
			<result property="authority" column="authority"/>
		</collection>
	</resultMap>

	<select id="getUsers" resultMap="UserResultMap">
		SELECT ID, USERS.USERNAME, PASSWORD, NAME, BIRTH, EMAIL, ADDRESS, AUTHORITY
		FROM USERS LEFT OUTER JOIN AUTHORITIES A on USERS.USERNAME = A.USERNAME

	</select>

	<select id="getUserById" parameterType="Long" resultMap="UserResultMap">
		SELECT ID, USERS.USERNAME, PASSWORD, NAME, BIRTH, EMAIL, ADDRESS, AUTHORITY
		FROM USERS LEFT OUTER JOIN AUTHORITIES A on USERS.USERNAME = A.USERNAME
		WHERE ID = #{id}
	</select>

	<select id="getUserByUsername" parameterType="String" resultMap="UserResultMap">
		SELECT ID, USERS.USERNAME, PASSWORD, NAME, BIRTH, EMAIL, ADDRESS, AUTHORITY
		FROM USERS LEFT OUTER JOIN AUTHORITIES A on USERS.USERNAME = A.USERNAME
		WHERE USERS.USERNAME = #{username}
	</select>

	<insert id="insertUser" parameterType="User" useGeneratedKeys="true" >
		INSERT INTO USERS (ID, USERNAME, PASSWORD, NAME, birth, EMAIL, ADDRESS)
		VALUES (USERS_SEQUENCE.NEXTVAL, #{username} , #{password} , #{name} , #{birth} , #{email} , #{address})
		<selectKey keyProperty="id" resultType="long" order="AFTER">
			SELECT ID FROM USERS WHERE USERNAME = #{username}
		</selectKey>
	</insert>

	<update id="updateUser" parameterType="User">
		UPDATE USERS SET
			USERNAME = #{username},
			PASSWORD = #{password},
			NAME = #{name},
			BIRTH = #{birth},
			EMAIL = #{email},
			ADDRESS = #{address}
		WHERE USERNAME = #{username}
	</update>


	<delete id="deleteUser" parameterType="String">
		DELETE FROM USERS WHERE USERNAME = #{username}
	</delete>

	<update id="updateImage" parameterType="User">
		UPDATE USERS SET IMAGE_NAME = #{imageName} WHERE USERNAME = #{username}
	</update>

	<insert id="insertAuthority" parameterType="Authority">
		INSERT INTO AUTHORITIES (USERNAME, AUTHORITY) VALUES (#{username}, #{authority})
	</insert>
 </mapper>
 