<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="UserMapper">
	<resultMap id="UserResultMap" type="User">
		<result property="username" column="username"/>
		<result property="password" column="password"/>
		<result property="email" column="email"/>
		<result property="name" column="name"/>
		<result property="birth" column="birth"/>
		<result property="address" column="address"/>
		<result property="imageName" column="image_name"/>
		<result property="enabled" column="enabled"/>
	</resultMap>

	<insert id="insertUser" parameterType="User">
		INSERT INTO Users (USERNAME, PASSWORD, NAME, birth, EMAIL, ADDRESS, IMAGE_NAME)
		VALUES (#{username} , #{password} , #{name} , #{birth} , #{email} , #{address} , #{imageName})
	</insert>

	<select id="selectUsers" resultMap="UserResultMap">
		SELECT * FROM Users
	</select>

	<select id="selectUserByUsername" parameterType="String" resultMap="UserResultMap">
		SELECT username, password, enabled, name, birth, email, address, image_name FROM users WHERE username=#{username}
	</select>

	<delete id="deleteUser" parameterType="String">
		DELETE FROM users where username = #{username}
	</delete>

	<update id="updateProfileImage" parameterType="User">
		UPDATE Users SET image_name=#{imageName} WHERE username=#{username}
	</update>
 </mapper>
 